<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ActivityMapper">

    <sql id="Base_Column_List">
        id,name,descr,start,end,form,address,host,read_count,content,cover
    </sql>

    <select id="selectAll" resultType="com.example.entity.Activity">
        select
        <include refid="Base_Column_List" />
        from activity
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="descr != null"> and descr like concat('%', #{descr}, '%')</if>
            <if test="start != null"> and start like concat('%', #{start}, '%')</if>
            <if test="end != null"> and end like concat('%', #{end}, '%')</if>
            <if test="form != null"> and form like concat('%', #{form}, '%')</if>
            <if test="address != null"> and address like concat('%', #{address}, '%')</if>
            <if test="host != null"> and host like concat('%', #{host}, '%')</if>
            <if test="readCount != null"> and read_count = #{readCount}</if>
            <if test="cover != null"> and cover = #{cover}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Activity">
        select
        <include refid="Base_Column_List" />
        from activity
        where id = #{id}
    </select>


    <delete id="deleteById">
        delete from activity
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Activity" useGeneratedKeys="true" keyProperty="id">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="descr != null">descr,</if>
            <if test="start != null">start,</if>
            <if test="end != null">end,</if>
            <if test="form != null">form,</if>
            <if test="address != null">address,</if>
            <if test="host != null">host,</if>
            <if test="readCount != null">read_count,</if>
            <if test="content != null">content,</if>
            <if test="cover != null">cover,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="descr != null">#{descr},</if>
            <if test="start != null">#{start},</if>
            <if test="end != null">#{end},</if>
            <if test="form != null">#{form},</if>
            <if test="address != null">#{address},</if>
            <if test="host != null">#{host},</if>
            <if test="readCount != null">#{readCount},</if>
            <if test="content != null">#{content},</if>
            <if test="cover != null">#{cover},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Activity">
        update activity
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="descr != null">
                descr = #{descr},
            </if>
            <if test="start != null">
                start = #{start},
            </if>
            <if test="end != null">
                end = #{end},
            </if>
            <if test="form != null">
                form = #{form},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="host != null">
                host = #{host},
            </if>
            <if test="readCount != null">
                read_count = #{readCount},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="cover != null">
                cover = #{cover},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>